.form {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1018px;
    height: 40px;
    border-radius: 100px;
    border: 5px;
    background-color: #F2F3F7;
    box-shadow: 8px 8px 24px 0 #00000014;
}