.container {
    box-shadow: 8px 8px 24px 0 #00000014;
    width: 377px;
    height: 96px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}