@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url("../assets/fonts/Gilroy-Extrabold/Gilroy-Regular.woff") format('woff');
}

* {
    font-family: Gilroy, sans-serif;
}

body {
    background-color: #F2F3F7;
}

.App {
    position: relative;
    margin: 16px auto 0 auto;
    width: 1200px;
}