.mySwiper {

    .swiper-pagination-bullet {
        background-color: #ffffff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: rgba(88, 93, 251, 1);
    }
}
