.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    padding: 10px 13px;
    border: none;
    border-radius: 28px;

    &:hover {
        box-shadow: 8px 8px 4px 0 #00000026 inset;
        cursor: pointer;
    }

}