.container {
    position: relative;
    border-radius: 28px;
    height: 71px;
    width: 289px;
    gap: 4px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
