.div {
    width: 1000px;
}

.input {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 0 0 0 16px;
    text-align: left;
    height: 28px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 840px;

}

