.tab {
    position: absolute;
    top: 120px;
    right: 0;
    width: 119px;
    height: 29px;
    padding: 8px 16px 2px 16px;
    border-radius: 28px 28px 0 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}